.chat-side
  .side-bar
    .side-box
      .user-name
        Mai
      .icon-box
        .icon-edit
          =link_to "#" do
            = icon('fas', 'edit')
        .icon-settings
          =link_to "#" do
            = icon('fas', 'cog')
  .side-bar__group-list
    .groups
      .group
        techcamp
      .group-message
        まだメッセージがありません